@media all and (max-width:960px){
    p:not(#tituloPrincipal) p:not(#nav-slide-movel){
        font-size: 13pt;
        width: 80%;
    }
}
@media all and (max-width:858px){
    p:not(#tituloPrincipal) p:not(#nav-slide-movel){
        width: auto;
        margin-top: 10px;
    }
}
@media all and (max-width:830px){
    p:not(#tituloPrincipal) p:not(#nav-slide-movel){
        width: 85%;
    }
}

@media all and (max-width:817px){
    p:not(#tituloPrincipal) p:not(#nav-slide-movel){
        font-size: 13pt;
        width: 85%;
    }
}