div#footer_icon{display:none;}

p.erro {
    color: #911;
    background-color: #E9C4B2;
    border: 1px solid #911;
    padding: 10px;
    margin: 0px 3px 20px;
}

img#fotoAtual{
    width: 100px;
    border: 1px solid #ccc;
    margin-left: 15px;
}

div#status {
    width: 400px;
}

div#salvar {
    display: block;
    margin-top: 10px;
    margin-bottom: -20px;
}
