
tr#title th {
    font-size: 18pt;
    cursor: default;
}

.panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: white;
    border: solid thin black;
    color: black;
    position: relative;
    width: 98.4%;
    cursor: pointer;
    font-size: 12pt;
    font-weight: normal;
    display: block;
}

.panel {
    padding: 10px;
    display: none;
    border: solid thin white;
    color: white;
    font-style: italic;
    width: 98.4%;
    float: left;
    clear: both;
    position: relative;
    background-color: black;
}

@media all and (max-width:440px){
    table#cronograma {
        margin-left: -15px;
    }
    
    tr#title th {
        width: 315px !important;
        border: solid thin white;
    }
    
    .panel, .flip {
        width: 315px !important;
        border: none;
    }
}

@media all and (max-width:320px){
    section#list {
        width: 280px !important;
        margin-left: -10px;
    }
    
}