#dec-font, #inc-font, #reset-font{
    cursor: pointer;
}

#letras{
    position:absolute;
    float: right;
    right: 15px;
    width: 98px;
    margin-top: -1px;
    background-color: #004C98;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

span.size {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #FFF;
    padding:2px; 
}

@media all and (max-width:995px){
    #letras{
        margin-top: -8px;
    }
}

@media all and (max-width:435px){
    #letras{
        margin-top: 0px;
    }
}