@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    min-width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
}

.aguarde{
    display: none;
}
#aguardarConfirmacao {
    position: relative;
    float: right;
    width: 367px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    margin-top: 10%;
}
#fundoAzul {
    position: absolute;
    width: 100%;
    height: 275px;
    background-color: #004c98;
    top: 30%;
    z-index: 1;
}

#login {
    position: relative;
    width: 72.6464047443%;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    z-index: 10;
}

#areaLogin {
    position: relative;
    float: right;
    width: 36.9387755102%;
    height: 82.9090909091%;
}

input[type=text], input[type=password], input[type=email] {
    position: relative;
    width: 355px;
    height: 28px;
    border: 1px solid #cdcdcd ;
    margin-bottom: 10px;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6a6a;
}

#box{
    position: relative;
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
}

#id {
    position: relative;
    padding-left: 5px;
    //background-image: url("../imagens/login.png");
    background-repeat: no-repeat;
}

#pass {
    position: relative;
    padding-left: 5px;
    //background-image: url("../imagens/senha.png");
    background-repeat: no-repeat;
}

#button{
    position: relative;
    padding: 5px 20px 5px 20px ;
    background-color: #5ea4ea;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

#button:hover {
    position: relative;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin: 15px 10px 10px 0 ;
}

h3 {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    margin: 15px 10px 10px 0 ;
}
    position: relative;
    color: #ffffff;
    font-size: 18px;
    margin: 15px 10px 10px 0 ;
}
p {
    position: relative;
    font-size: 17px;
    color: #ffffff;
}

p#checkbox {
    position: relative;
    margin-left: 10px;
}

p#esqueceuSenha {
    margin-top: 10px;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
}

a:hover {
    position: relative;
    color: #000;
    text-decoration: underline;}

#info {
    position: relative;
    font-weight: bold;
    width: 350px;
}

.erro {
    position: relative;
    padding: 5px;
    width: 350px;
    background-color: #c9493f;
    border: 1px solid #cdcdcd ;
    color: white;
    margin-bottom: 10px;
}

.info {
    position: relative;
    padding: 5px;
    width: 343px;
    background-color: #5fb3d3;
    border: 1px solid #cdcdcd ;
    color: white;
    margin-bottom: 10px;
}

.processando {
    position: relative;
    padding: 5px;
    width: 350px;
    background-color: #5fb3d3;
    border: 1px solid #cdcdcd ;
    color: white;
    margin-bottom: 10px;
}

.logado {
    position: relative;
    padding: 5px;
    width: 350px;
    background-color: #5fb3d3;
    border: 1px solid #cdcdcd ;
    color: white;
    margin-bottom: 10px;
}

p#txt-esqueceu-senha {
    position: relative;
    margin-left: 3px;
    font-size: 13pt;
    color: #6a6a6a;
    font-family: Arial, Helvetica, sans-serif;
}

a#link-esqueceu-senha {
    position: relative;
    color: #000000;
    text-decoration: underline;
}

a#link-esqueceu-senha:hover {
    position: relative;
    color: #6a6a6a;
    text-decoration: underline;
}

#imagens {
    position: relative;
    width: 61.2244897959%;
    height: 276px;
    float: left;
    z-index: 100;
}

#computador {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: -28px;
    margin-bottom: -50px;
}

a#bola {
    position: relative;
    margin-left: 280px;
    margin-right: 8px;
}

a#bola:hover {
    text-decoration: none;
}

/*Media Queries*/
@media all and (max-width:1349px){
    #login {
        margin-left: 65px;
    }
    
    #areaLogin {
        margin-left: 10px;
    }
    
    #computador {
        margin: auto;
    }
    
    a#bola,a#bolaSelecionada {
      display: none;
    }
}

@media all and (max-width:1345px){
    
     #imagens {
        margin-top: -28px;
    }
}

@media all and (max-width:1235px){
    
     #imagens {
        margin-top: -18px;
    }
}

@media all and (max-width:1168px){
    
    #imagens {
        margin-top: 3px;
    }
}

@media all and (max-width:1046px){
    
    #imagens {
        margin-top: 10px;
    }
}

@media all and (max-width:1030px){
    
    #imagens {
        margin-top: 15px;
    }
}

@media all and (max-width:992px){
    
    #imagens {
        float: left;
        margin-left: -35px;
        margin-top: 15px;
    }
    
    #areaLogin {
        float: right;
        margin-right:-15px;
        width: 272px;
    }
}

@media all and (max-width:939px){
    #imagens {
        display: none;
    }
    
    body {
        background-color: #004C98;
        overflow: hidden;
    }
    
    #fundoAzul {
        margin-top: -80px;
    }
    
    #login {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0px;
    }
    
    #areaLogin {
        width: 365px;
        display: block;
        position: relative;
        margin: 0 auto;
        float: none;
    }
}

@media all and (max-width:568px){
    body {
        background-color: #004C98;
    }
    
    #fundoAzul {
        margin: 20px auto;
    }
    
    #login {
        display: block;
        width:auto;
        height: 275px;
        margin-left: 0px;
    }
    
    #areaLogin {
        width: 85%;
        position: relative;
        margin: -60px auto;
        float: none;
    }
    
    p#info {
        width: 93%;
    }
    
    h1 {
        font-size: 15pt;
    }
    
    p#esqueceuSenha {
        font-size: 12pt;
    }
    
    input[type=text], input[type=password], input[type=email] {
        width: 95%;
    }
    
}

