@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #2e2e2e;
    min-width: 50%;
    font-family: 'Trebuchet MS', sans-serif;
}

div#footer_icon{display:none;}

#login{
    width: 450px;
    background-color: #e2e2e2;
    border: 1px #d2e3eb solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.75);
}

#icon{
    margin-left: 14.5%;
    margin-top: 25px;
}

input{
    width: 80%;
    height: 50px;
    border: 3px solid #cdcdcd ;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6a6a;
}

#inputs{
    margin-top: 30px;
    margin-left: 25px;
}

#id{
    padding-left: 55px;
    background-image: url("../imagens/login.png");
    background-repeat: no-repeat;
}

#pass{
    padding-left: 55px;
    background-image: url("../imagens/email.png");
    background-repeat: no-repeat;
    background-position: 10px ;
}

#button{
    width: 401px;
    height: 50px;
    background-color:#ed4900;
    color:#ffffff;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#info{
    font-weight: bold;
    width: 340px;
}

.erro{
    padding: 8px;
    background-color: #c9493f;
    border: 3px solid #cdcdcd ;
    color: white;
}

.processando{
    padding: 8px;
    background-color: #5fb3d3;
    border: 3px solid #cdcdcd ;
    color: white;
}

.logado{
    padding: 8px;
    background-color: #5fb3d3;
    border: 3px solid #cdcdcd ;
    color: white;
}

p#txt-esqueceu-senha {
    position: relative;
    margin-left: 3px;
    font-size: 13pt;
    color: #6a6a6a;
}

a#link-esqueceu-senha {
    position: relative;
    color: #000000;
    text-decoration: underline;
}

a#link-esqueceu-senha:hover {
    position: relative;
    color: #6a6a6a;
    text-decoration: underline;
}

div#informacoes {
    position: relative;
    margin-bottom: -10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#erro{
    padding: 8px;
    background-color: #c9493f;
    border: 3px solid #cdcdcd ;
    color: white;
    width: 379px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#info{
    padding: 8px;
    background-color: #5fb3d3;
    border: 3px solid #cdcdcd ;
    color: white;
    width: 379px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
