
section#resumo {
    display: block;
    position: absolute;
    float:none;
    width: 65%;
    top: 15%;
    min-width: 260px;
    margin-left: 25px;
}

textarea.textArea {
    display: block;
    position: relative;
    resize: none;
    min-width: 530px;
    width: 100%;
    min-height: 450px;
    height: 90%;
    border: 2px solid #000;
}

.novo {
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
    float: left;
}

.titulo {
    display: block;
    position: relative;
    font-size: 14pt;
    text-align: center;
    margin: 5px;
}

.informacoesGerais {
    font-size: 12pt;
    margin: 10px 10px 10px 0;;
   // margin-left: 0px;
}

#rodape {
    display: none;
}

@media all and (max-width: 410px){
    section#resumo {
        width: 85%;
    }

    .novo{
        width: 50%;
    }
}