h2#tituloCapitulo{
    width: 50%;
    margin-right: -20px;
}

p#facaResumo{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 20px;
}

form#resumo{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 25%;
    left:5%;
    width: 100%;

}

div#title{
    background: #004C98;
    height: auto;
    width: 27%;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 0;
}

div#m_ret_azul{
    height: 35px;
    color: #004C98;
}

div#ret_azul_title{
    height: 25px;
    width: 4px;
    margin-top: 3px;
    background: #004C98;
    position: absolute;
}

img#img-suc {
    position: relative;
    margin-left: 20%;
    margin-top: 25%;
    width: 80%;
}

div#titulos{
    width: 100%;
}

div#hs{
    width: 40%;
    display: block;
    position: relative;
    margin: 0 auto;
}

div.notificacao {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    max-height: 400px;
    word-wrap: break-word;
    border: 1px solid #004C98;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

div#noti {
    height: 300px;
    overflow-y: auto;
}

textarea.textArea {
    display: block;
    position: relative;
    resize: none;
    min-width: 530px;
    width: 100%;
    min-height: 450px;
    height: 90%;
    border: 2px solid #000;
}

.novo {
    display: block;
    margin-top: 30px;
    margin-bottom: 200px;
    float: left;
}

.titulo {
    display: block;
    position: relative;
    font-size: 14pt;
    text-align: center;
    margin: 5px;
}

.informacoesGerais {
    font-size: 12pt;
    color: #004C98;
    margin: 10px 10px 10px 0;
}

.informacoesGerais span {
    font-size: 12pt;
    color: #000;
}

#rodape {
    display: none;
}

@media all and (max-width: 1440px){
    form#resumo{
        left: 5%;
    }
}

@media all and (max-width:1390px){
    aside#paginas{
        display: none;
    }
    
    img#img-suc {
        left: -5%;
    }

    form#resumo{
        width: 150%;
    }
}

@media all and (max-width: 1280px){
    form#resumo{
        left: 8%;
    }
}

@media all and (max-width: 1152px){
    form#resumo{
        left: 12%;
    }
}

@media all and (max-width: 1024px){
    form#resumo{
        left: 9%;
    }
}

@media all and (max-width: 997px){
    div#letras{
        margin-top: 0;
    }

}

@media all and (max-width: 810px){
    h2#titulo1{
        left: 3%;
    }
}

@media all and (max-width: 750px){
    h2#titulo1{
        left: 6%;
    }
}

@media all and (max-width: 709px){
    img#img-suc {
        left: -10%;
        top: 40%;
        width: 80%;
    }

    form#resumo{
        width: 250%;
        left: 19%;
    }

    h2#titulo1{
        left: 11%;
    }

    div#title{
        width: 40%;
    }
}


@media all and (max-width: 630px){
    h2#titulo1{
        left: 15%;
    }
}

@media all and (max-width: 590px){
    h2#titulo1{
        left: 19%;
    }

}

@media all and (max-width:540px){
     form#resumo{
        width: 230%;
    }
	.novo{
		width:101% !important;
		margin-left:20px;
	}

}

@media all and (max-width: 521px){
    div#hs{
        width: 50%;
    }
    h2#titulo1{
        left: 24%;
    }
}

@media all and (max-width: 490px) {
    h2#titulo1{
        left: 27%;
    }

    div#hs{
        width: 60%;
    }
}


@media all and (max-width: 475px){
    form#resumo{
       width: 200%;
        left: 30%;
    }
}

@media all and (max-width: 456px){
    h2#titulo1{
        left: 30%;
    }

    div#hs{
        width: 70%;
    }
}

@media all and (max-width: 432px){
    h2#titulo1{
        left: 0;
    }
}

@media all and (max-width: 420px){
     form#resumo {
        width: 180%;
    }
    
    img#img-suc {
        left: -10%;
        margin-top: 80%;
        width:120%;
    }
    
    div.notificacao {
        margin-top: -2%;
    }

    .novo{
        width: 20%;
    }
}
@media all and (max-width: 400px){
    form#resumo{
        left: 17%;
    }
}

@media all and (max-width: 365px){
    form#resumo{
        width: 165%;
    }
}

@media all and (max-width: 320px){
    form#resumo {
        width: 135%;
    }
    
     img#img-suc {
        margin-top: 50%;
        width:180%;
    }
 
    .novo{
        width: 20%;
    }
}

