a{
    text-decoration: none;
}

input#iniciar, input#salvar {
    position: relative;
    width: auto;
    background: #004c98;
    color: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 0px 15px 120px 0px;
}

section#conteudo{
    width: 99.9%;
    /*min-width: 980px;*/
    border-top:1px solid #454545;
    margin-bottom: 50px;
}

section#conteudo aside, section#conteudo section{
    float: left;
    height: 100%;
}

section#capitulos{
    background-color: #b3b3b3;
    width: 300px;
    margin-left: 3px;
}

ul#menuCapitulos > li{
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
}

ul#menuCapitulos > li:first-child{
    border-top: none;
}

ul#menuCapitulos > li:last-child{
    border-bottom: none;
}

ul#menuCapitulos > li{
    color: #0c1115;
    display: block;
    width: 80%;
    padding: 15px 30px;
}

ul.subItens{
    list-style-type: disc;
    margin-left: 30px;
}

ul.subItens li{
    margin: 5px auto;
}

ul.subItens a:link{
    color: black;
}

ul.subItens a:visited{
    color: black;
    text-decoration: underline;
}

ul.subItens a:hover{
    color: blue;
    text-decoration: underline;
}

a#clicado{
    color: blue;
}

section#conteudoTopico{
    width: 50%;
}

h2#tituloCapitulo{
    margin: 15px;
}

h3#subtituloCapitulo{
    margin: 10px;
}

p#conteudoTopico{
    margin: 15px;
    float:left;
    text-align: justify;
    font-size: 11pt;
    font-weight: normal;
}

/** QUESTIONARIO ############################################################ */
section#exercicio{
    margin: 0px 50px 30px 50px;
    width: 95%;
    word-wrap: break-word;
}

form#exercicio{
    display: none;
}

ol#questoes p{
    font-size: 12pt;
    text-align: justify;
}

ol#opcoes{
    margin:15px auto 15px 35px;
    list-style: lower-alpha
}

ol#opcoes li{
    margin: 20px auto;
}

ol#opcoes label{
    font-size: 11pt;
    text-align: justify;
}

@media all and (max-width: 1100px){
    form#exercicio{
        width: 90%;
    }
}

@media all and (max-width: 1001px){
    form#exercicio{
        width: 70%;
    }
}

@media all and (max-width: 997px){
    form#exercicio{
        width: 180%;
    }
}

@media all and (max-width: 920px){
    form#exercicio{
        width: 170%;
    }
}

@media all and (max-width: 885px){
    section#exercicio{
        width: 90%;
    }
}

@media all and (max-width: 790px){
    section#exercicio{
        width: 80%;
    }

}
@media all and (max-width: 731px){
    form#exercicio{
        width: 150%;
    }

}

@media all and (max-width: 709px){
    form#exercicio{
        width: 240%;
    }
    section#exercicio{
        width: 100%;
    }
    input[type=submit]{
        margin-bottom: 130px;
    }
}


@media all and (max-width: 650px){
    section#exercicio{
        width: 120%;
    }
    form#exercicio{
        width: 200%;
    }
}


@media all and (max-width: 543px){
    section#exercicio{
        width: 190%;
    }
    form#exercicio{
        width: 120%;
    }
}

@media all and (max-width: 460px){
   h2#tituloCapitulo{
       width: 100%;
   }
}


@media all and (max-width: 340px){
    form#exercicio {
        width: 150%;
    }
}

@media all and (max-width: 305px){
    form#exercicio{
        width: 120%;
    }
}